node_modules
app/*.js*
*.sublime-workspace

e2e/*.js*
protractor-results.json

npm-debug.log

# ignore content of the AOT folder
aot/*
# except for the index file and its server configuration
!aot/bs-config.js
!aot/index.html
